@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* Set some variables*/ 
:root {
    --pri-col: #0943a6;
    --drk-col: #007dd1;
    --drk-con: #303030;
    --drk-bg:black;
  }
body{
    background: var(--drk-bg);
}
/* Modify the backgorund color */ 
.navbar-custom { 
    border-radius: 0;
    margin: 0;
} 
/* Modify the navbar brand */ 
.navbar-brand-custom{ 
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1em;
} 
/* Modify the jumbotron */ 
.jumbotron-custom{
    background: url(../assets/background-content-tablet.jpg);
    background-size: cover;
    color: white;
} 
#navbar-p{
    margin-top: 10px;
    color: white;
}
.display-4-custom{
    font-family: 'Montserrat', sans-serif;
}
.btn-custom1{
  width: 80%;
 
}
/* modifies the contents/Projects */
.projects > .container > .row > a > .content{
    background: var(--drk-con);
    color:white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    transition: box-shadow .2s;
}
.projects > .container > .row > a{
    text-decoration: none;
}
/* hover effect 
.projects > .container > .row > a:hover > .content{
    transition: ;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
}
*/
.projects > .container > .row > a > .content > label{
   font-size: 2em;
   font-weight: bold;
}
.img-proj{
    width: 100%; 
    margin-bottom: 20px;
}

/* to remove the default margin in columns and padding in rows*/
.row-no-padding {
    margin-left: 0;
    margin-right: 0;
  }
[class*="col-"],  /* Elements whose class attribute begins with "col-" */
[class^="col-"] { /* Elements whose class attribute contains the substring "col-" */
    padding-left: 0;
    padding-right: 0;
}


