@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* Set some variables*/ 
:root {
    --pri-col: #0099ff;
    --drk-col: #154599;
    --blk-col: #000000;
    --gry-col: #5e5e5e;
    --drk-con: #303030;
    --lht-con: white;
    --drk-bg:black;
    --lht-bg: #e3e7f0;
  }
body{
    background:var(--lht-bg);
    /*
    background: var(--drk-bg);
    font-family: 'Montserrat';*/
}
/* Modify the backgorund color */ 
.navbar-custom { 
    border-radius: 0;
    margin: 0;
    background:var(--lht-bg);
    border-bottom:1px solid var(--drk-col);
} 
/* Modify the navbar brand */ 
.navbar-brand-custom{ 
    font-family: 'Montserrat', sans-serif;
    color: var(--blk-col);
    text-decoration: none;
    font-size: 1em;
    transition: opacity .2s;
    
}
.navbar-brand-custom:hover{
    color: var(--pri-col);
    opacity: .8;
}
/*logo*/
.navbar-brand-custom img{
    width: 50px; 
    border: 1px solid white;
    border-radius: 50%; 
    margin-right: 5px;
   }
#navbar-p{
    margin-top: 10px;
    color: var(--blk-col);
}
/* Modify the jumbotron */ 
.jumbotron-custom{
    background: url(../assets/background-content-desktop.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
    text-align: justify;
    text-shadow: 1px 1px 5px var(--blk-col);
} 
.jumbotron-h1-custom{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/*for buttons in jumbotron*/
.buttons{
  width: 70%;
}
#btn-custom1{
  padding: 10px 20px;
  transition: opacity .2s;
  background: var(--pri-col);
  
}
#btn-custom2{
    padding: 10px 20px;
    background: var(--blk-bg);
    border: 2px solid var(--pri-col);
}
#btn-custom1:hover, #btn-custom2:hover{
  text-decoration: none;
  background: var(--pri-col);
  opacity: .9;
}
/* modifies the contents/Projects */
.projects > .container > .row > a > .content{
    background: var(--lht-con);
    color: var(--blk-col);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    transition: transform .2s;
}
.projects > .container > .row > a{
    text-decoration: none;
}
/* hover effect on projects*/
.projects > .container > .row > a:hover > .content{
    transform: scale(1.03);
}
.projects > .container > .row > a:hover > .content > label{
    color: var(--pri-col);
}
.projects > .container > .row > a > .content > label{
   font-size: 2em;
   font-weight: bold;
   transition: color .2s;
}
.img-proj{
    width: 100%; 
    margin-bottom: 20px;
}

/* to remove the default margin in columns and padding in rows*/
.row-no-padding {
    margin-left: 0;
    margin-right: 0;
  }
[class*="col-"],  /* Elements whose class attribute begins with "col-" */
[class^="col-"] { /* Elements whose class attribute contains the substring "col-" */
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 576px) {
    .jumbotron-custom{
        background: url(../assets/background-mobile.png) center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .jumbotron-h1-custom{
        font-size: 2rem;
        width: 95%;
    }
    .jumbotron > div > p{
      font-size: .8em;
      width: 95%;
    }
    .projects > .container > .row > a:hover > .content{
        transform: scale(1.01);
    }
    .navbar-brand-custom{ 
      font-size: .5em;
    }
    .buttons{
        width: 95%;
    }
    .buttons > a{
        width: 110px; 
        font-size: .8em;
    }
    #btn-custom1, #btn-custom2{
        margin: 0 5px;
        padding: 5px 10px;
    }
}
/* Small devices (phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767px) {
    .jumbotron-custom{
        background: url(../assets/background-content-desktop.jpg);
        -webkit-background-size:cover;
        -moz-background-size:cover;
        background-size:cover;
        -o-background-size:cover;
    }
    .jumbotron-h1-custom {
        font-size: 2.5rem;
        width: 90%;
    }
    .jumbotron > div > p{
      font-size: 1em;
      width: 90%;
    }
    .projects > .container > .row > a:hover > .content{
        transform: scale(1.01);
    }
    .buttons{
        width: 90%;
    }
    .buttons > a{
        width: 140px; 
        font-size: .7em;
    }
    #btn-custom1, #btn-custom2{
        margin: 0 7px;
        padding: 7px 10px;
    }
    
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px){
   .jumbotron-custom{
        background: url(../assets/background-content-desktop.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .jumbotron-h1-custom {
        font-size: 3.2rem;
        width: 90%;
    }
    .jumbotron > div > p{
        font-size: 1em;
        width: 90%;
    }
    .buttons{
        width: 90%;
    }
    .buttons > a{
        width: 150px;
        font-size: .9em;
    }
    #btn-custom1, #btn-custom2{
        margin: 0 10px;
        padding: 7px 10px;
    }
    .navbar-brand-custom{ 
      font-size: .7em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 993px) and (max-width: 1200px) {
    .jumbotron-h1-custom {
        font-size: 3.5rem;
        width: 80%;
    }
    .jumbotron > div > p{
        font-size: 1.2em;
        width: 80%;
    }
    .buttons{
        width: 80%;
    }
    .buttons > a{
        width: 180px;
        font-size: 1.1em;
    }
    #btn-custom1, #btn-custom2{
        margin: 0 7px;
        padding: 7px 10px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
    .jumbotron-h1-custom {
        font-size: 5rem;
        width: 80%;
    }
    .jumbotron > div > p{
        font-size:  1.5em;
        width: 80%;
    }
    .buttons{
        width: 80%;
    }
    .buttons > a{
        width: 200px;
    }
    #btn-custom1, #btn-custom2{
        margin: 0 7px;
        padding: 7px 10px;
    }
    
}
