@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* Set some variables*/ 
:root {
    --pri-col: #0099ff;
    --drk-col: #154599;
    --drk-con: #303030;
    --lht-con: white;
    --drk-bg:black;
  }
body{
    background: rgb(227, 231, 240);
    /*
    background: var(--drk-bg);
    font-family: 'Montserrat';*/
}
/* Modify the backgorund color */ 
.navbar-custom { 
    border-radius: 0;
    margin: 0;
    background:var(--drk-bg);
    border-bottom:1px solid var(--drk-col);
} 
/* Modify the navbar brand */ 
.navbar-brand-custom{ 
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: opacity .2s;
    
}
.navbar-brand-custom:hover{
  color: white;
  opacity: .8;
}
/*logo*/
.navbar-brand-custom img{
    width: 50px; 
    border: 1px solid white;
    border-radius: 50%; 
    margin-right: 5px;
   }

/* Modify the jumbotron */ 
.jumbotron-custom{
    background: url(../assets/background-content-desktop.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
} 
#navbar-p{
    margin-top: 10px;
    color: white;
}
.jumbotron-h1-custom{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.btn-custom1{
  padding: 10px 20px;
  transition: opacity .2s;
}
.btn-custom1:hover{
  text-decoration: none;
  opacity: .9;
}
/* modifies the contents/Projects */
.projects > .container > .row > a > .content{
    background: var(--drk-con);
    color:white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    transition: transform .2s;
}
.projects > .container > .row > a{
    text-decoration: none;
}
/* hover effect on projects*/
.projects > .container > .row > a:hover > .content{
    transform: scale(1.03);
}
.projects > .container > .row > a:hover > .content > label{
    color: var(--pri-col);
}
.projects > .container > .row > a > .content > label{
   font-size: 2em;
   font-weight: bold;
   transition: color .2s;
}
.img-proj{
    width: 100%; 
    margin-bottom: 20px;
}

/* to remove the default margin in columns and padding in rows*/
.row-no-padding {
    margin-left: 0;
    margin-right: 0;
  }
[class*="col-"],  /* Elements whose class attribute begins with "col-" */
[class^="col-"] { /* Elements whose class attribute contains the substring "col-" */
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 576px) {
    .jumbotron-custom{
        background: url(../assets/background-mobile.png) center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .jumbotron-h1-custom{
        font-size: 2rem;
    }
    .jumbotron > div > p{
      font-size: .8em;
      width: 95%;
    }
    #navbar-p{
      opacity: .8;
    }
}
/* Small devices (phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767px) {
    .jumbotron-custom{
        background: url(../assets/background-content-desktop.jpg);
        -webkit-background-size:cover;
        -moz-background-size:cover;
        background-size:cover;
        -o-background-size:cover;
    }
    .jumbotron-h1-custom {
        font-size: 2.8rem;
    }
    .jumbotron > div > p{
      font-size: 1em;
    }
    #navbar-p{
      opacity: .8;
    }

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px){
   .jumbotron-custom{
        background: url(../assets/background-content-desktop.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .jumbotron-h1-custom {
        font-size: 3.5rem;
    }
    .jumbotron > div > p{
        font-size: 1.3em;
        width: 90%;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 993px) and (max-width: 1200px) {
    .jumbotron-h1-custom {
        font-size: 4rem;
    }
    .jumbotron > div > p{
        font-size: 1.5em;
        width: 80%;
    }
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
    .jumbotron-h1-custom {
        font-size: 6rem;
    }
    .jumbotron > div > p{
        font-size:  1.5em;
        width: 80%;
    }
    
}